:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #f5f5f5; 
  }

  mat-card img {
    object-fit: contain; 
  }

  .pokemon-card {
    width: 400px;
  }

  .background {
    height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
  }